.services{
    background-color: black;
    height: 45vh;
    max-height: 45vh;

}

.services .services-container h2{
    background-color: red;
    width: fit-content;
    color: white;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    margin-left: 45%;
    border-radius: 9px;
}

.head h2{
    margin-top: 2rem;
}

.service-text{
    display: flex;
}

/* .service-box{
    border: 2px solid red;
} */

.service-box{
    color: white;
    margin-left: 11rem;
    text-align: center;
}

.service-box h3{
    font-size: 2.5rem;
    font-weight: 700;
}

.service-box p{
    font-size: 1.8rem;
}

.service-box a{
    text-decoration: none;
    color: rgb(221, 57, 57);
}

